<h4 align='center'>Resend confirmation instructions<div class="input-field"></h4>
<br>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),  class: 'validate' %>
    <%= f.label :email, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <%= f.submit "Resend confirmation instructions", class: 'btn-large btn-full' %>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>
