.card.card-identity.fixed.fixed-panel
  .card-image
    %a.btn-floating.halfway-fab.waves-effect.waves-light.red
      = image_tag current_user.avatar.url(:thumb)
  %br
  .card-content
    %center
      .username 
        %b #{current_user.username}
      %p Buzzer is how to share the campign fasted
    %hr
    %center
      .number 120
      %p Who's hired your
    %hr
    %center
      .number 200
      %p Campaign that has been done