<script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrG1wZ-smqjoHJCX2V2RLRgwMEbZrXI8&libraries=places&callback=initMap" ></script>

<script type="text/javascript">
  function initMap() {
    var uluru = {lat: <%= @promotion.get_address_lat %>, lng:  <%= @promotion.get_address_long %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: uluru
    });

    var contentString = '<div id="content">'+
        '<h4 id="firstHeading" class="firstHeading"><%= @promotion.title %></h4>'+
        '<div id="bodyContent">'+
        '<p><%= @promotion.address %></p></b>'+
        '</div>'+
        '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
      title: 'Uluru (Ayers Rock)'
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>