<h4 align='center'>Edit <%= resource_name.to_s.humanize %></h4>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <%= f.email_field :email, autofocus: true, required: true, class: 'validate' %>
    <%= f.label :email, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="input-field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password, autocomplete: "off", required: true, class: 'validate' %>
    <%= f.label :password, 'data-error'=>"wrong", 'data-success'=>"right" %> <i>(leave blank if you don't want to change it)</i>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'validate' %>
    <%= f.label :password_confirmation, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">power_settings_new</i>
    <%= f.password_field :current_password, autocomplete: "off", required: true, class: 'validate' %>
    <%= f.label :current_password, 'data-error'=>"wrong", 'data-success'=>"right" %> <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="input-field">
    <%= f.submit "Update", class: 'btn-large btn-full' %>
  </div>
<% end %>

<%= link_to "Back", :back, class: 'left' %>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'right' %>
