<h4 align='center'>Sign up</h4>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <%= f.text_field :username, required: true, class: 'validate' %>
    <%= f.label :username, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <%= f.email_field :email, required: true, class: 'validate' %>
    <%= f.label :email, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password, autocomplete: "off", required: true, class: 'validate' %>
    <%= f.label :password, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'validate' %>
    <%= f.label :password_confirmation, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field center">
    Register as a ?
  </div>

  <div class="input-field">
    <div class="col s6 center">
      <%= f.radio_button :type, 'Buzzer', id: 'user_type_buzzer', required: true %>
      <%= f.label :buzzer, for: 'user_type_buzzer' %>
      <br>
    </div>
    <div class="col s6 center">
      <%= f.radio_button :type, 'Business', id: 'user_type_business', required: true %>
      <%= f.label :business, for: 'user_type_business' %>
      <br>
    </div>
  </div>

  <div class="input-field">
    <%= f.submit "Sign up", class: 'btn-large btn-full', style: 'margin-top:40px;' %>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>
