.row
  %h1{align: 'center'} Aktivitas Saya
  %br
  .col-md-3
    = form_for :search, url: '', method: 'get' do |f|
      .hpanel
        .panel-body
          .m-b-md
            %h4
              Pencarian
            %small
              Cari kegiatan yang anda lakukan disini!
          .form-group
            %label.control-label Tanggal mulai:
            .input-group.date
              = text_field_tag :start_date, params[:start_date], class: 'form-control datepicker'
              %span.input-group-addon
                %i.glyphicon.glyphicon-calendar
          .form-group
            %label.control-label Sampai Tanggal:
            .input-group.date
              = text_field_tag :end_date, params[:end_date], class: 'form-control datepicker'
              %span.input-group-addon
                %i.glyphicon.glyphicon-calendar
          .form-group
            %label.control-label Kata Kunci:
            .input-group
              = text_field_tag :keywords, params[:keywords], class: 'form-control', placeholder: 'keywords ...'
              .input-group-btn
                %button.btn.btn-default
                  %i.fa.fa-search

          = submit_tag 'SEARCH', class: 'btn btn-success btn-block'
  .col-md-9
    - if @activity_snapshots.present?
      .v-timeline.vertical-container.animate-panel{"data-child" => "vertical-timeline-block", "data-delay" => "1"}
        - @activity_snapshots.each do |ac|
          .vertical-timeline-block
            .vertical-timeline-icon.navy-bg
              %i.fa.fa-calendar
            .vertical-timeline-content
              .p-sm
                %span.vertical-date.pull-right
                  #{ac.created_at.strftime("%A")}
                  %br
                  %small #{ac.created_at.strftime("%I:%M %p")}

                %h2 #{ac.subject?}
                %p #{ac.title.html_safe if ac.title.present?}
              .panel-footer
                <i class="fa fa-clock-o"></i> #{time_to_ago(ac.created_at)}
                
        .col-lg-12
          = paginate @activity_snapshots
    - else
      .panel
        .panel-body Tidak ada data yang ditemukan!