%nav
  .nav-wrapper
    %a.brand-logo{:href => "#{root_url}"}
      %i.material-icons.dp48 person_pin
      SocialBuzzer
    %ul.right.hide-on-med-and-down
      - if current_user.present?
        %li
          %a{:href => "badges.html"}
            Forum
            %i.material-icons.right question_answer
        %li
          %a{:href => "badges.html"}
            Get Jobs
            %i.material-icons.right assignment
        %li
          %a{:href => "badges.html"}
            Get Coupons
            %i.material-icons.right redeem
      - else
        %li
          %a{:href => "#{new_user_registration_url}"}
            SignUp
            %i.material-icons.right assignment
        %li
          %a{:href => "#{new_user_session_url}"}
            Login
            %i.material-icons.right vpn_key
      %li
        %a{:href => "sass.html"}
          %i.material-icons search
      - if current_user.present?
        %li
          %a.button-collapse-nav{"data-activates" => "slide-out", :href => "#"}
            %i.material-icons more_vert
