- if current_user.present?
  %ul#slide-out.side-nav
    %li
      .userView
        .background
        %a{:href => "#!user"}
          %img.circle{:src => "#{current_user.avatar.url}"}
        %a{:href => "#!name"}
          %span.white-text.name #{current_user.username}
        %a{:href => "#!email"}
          %span.white-text.email #{current_user.email}
    %li
      %a{:href => "#!"}
        %i.material-icons> cloud
        First Link With Icon
    %li
      %a{:href => "#!"} Second Link
    %li
      .divider
    %li
      %a.subheader Subheader

    - if current_user.is_buzzer?
      %li
        = link_to 'Edit Profile', edit_buzzer_account_path(current_user)
    - elsif current_user.is_business?
      %li
        = link_to 'Edit Profile', edit_business_account_path(current_user)
    %li
      = link_to 'SignOut'.html_safe, destroy_user_session_path, method: 'delete', class: 'waves-effect'
