.row
  %h1{align: 'center'} History Transaksi
  %br
  .col-md-3
    = form_for :search, url: '', method: 'get' do |f|
      .hpanel
        .panel-body
          .m-b-md
            %h4
              Pencarian
          .form-group
            %label.control-label Tanggal mulai:
            .input-group.date
              = text_field_tag :start_date, params[:start_date], class: 'form-control datepicker'
              %span.input-group-addon
                %i.glyphicon.glyphicon-calendar
          .form-group
            %label.control-label Sampai Tanggal:
            .input-group.date
              = text_field_tag :end_date, params[:end_date], class: 'form-control datepicker'
              %span.input-group-addon
                %i.glyphicon.glyphicon-calendar
          .form-group
            %label.control-label Nama Klien:
            .input-group
              = text_field_tag :client_name, params[:client_name], class: 'form-control'
              %span.input-group-addon
                %i.glyphicon.glyphicon-user
          .form-group
            %label.control-label Industri:
            = select_tag :tags, options_for_select(get_industries), multiple: true, class: 'form-control select2'
          .form-group
            %label.control-label Status:
            .input-group
              - BuzzerShare::STATUSES.each do |status|
                .checkbox.checkbox-primary
                  = check_box_tag 'statuses[]', status
                  %label #{status.titleize}

          .form-group
            %label.control-label Kata Kunci:
            .input-group
              = text_field_tag :keywords, params[:keywords], class: 'form-control', placeholder: 'keywords ...'
              .input-group-btn
                %button.btn.btn-default
                  %i.fa.fa-search

          = submit_tag 'SEARCH', class: 'btn btn-success btn-block'
  .col-md-9
    - if @transactions.present?
      .row
        .col-lg-12
          - @transactions.each do |resource|
            .hpanel.filter-item
              %a{:href => "#"}
                .panel-body
                  .col-md-9
                    %h4.m-b-xs #{resource.title}
                    %p.small #{resource.description.html_safe if resource.description.present?}
                  .col-md-3
                    .pull-right.text-right
                      %h4 #{resource.reward?}
                      %small.stat-label <i class="fa fa-clock-o"></i> #{resource.created_at.strftime("%I:%M %p : %d/%b/%Y")}

        .col-lg-12
          = paginate @transactions
    - else
      .panel
        .panel-body Tidak ada data yang ditemukan!