#header
  #logo.light-version
    %span
      SOCIALFEEDS.COM
  %nav{:role => "navigation"}
    .header-link.hide-menu
      %i.fa.fa-bars
    .small-logo
      %span.text-primary SOCIALFEEDS.COM
    %form.navbar-form-custom{:action => "#", :method => "post", :role => "search"}
      .form-group
        %input.form-control{:name => "search", :placeholder => "Search something special", :type => "text"}
    .mobile-menu
      %button.navbar-toggle.mobile-menu-toggle{"data-target" => "#mobile-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-chevron-down
      #mobile-collapse.collapse.mobile-navbar
        %ul.nav.navbar-nav
          %li
            %a{:href => "login.html"} Login
          %li
            %a{:href => "login.html"} Logout
          %li
            %a{:href => "profile.html"} Profile

    .navbar-right
      %ul.nav.navbar-nav.no-borders
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.pe-7s-speaker
          %ul.dropdown-menu.hdropdown.notification.animated.flipInX
            - (0..4).each do |f|
              %li
                %a
                  %span.label.label-success NEW
                  It is a long established.
            %li.summary
              = link_to 'See all notifications', '#'

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.pe-7s-keypad
          .dropdown-menu.hdropdown.bigmenu.animated.flipInX
            %table
              %tbody
                %tr
                  %td
                    = link_to '#' do
                      %i.pe.pe-7s-portfolio.text-info
                      %h5 Campaigns
                  %td
                    = link_to '#' do
                      %i.pe.pe-7s-graph1.text-danger
                      %h5 Analytics
                  %td
                    = link_to '#' do
                      %i.pe.pe-7s-global.text-success
                      %h5 Blogs
                %tr
                  %td
                    = link_to '#' do
                      %i.pe.pe-7s-box1.text-success
                      %h5 Vouchers
                  %td
                    = link_to '#' do
                      %i.pe.pe-7s-cart.text-danger
                      %h5 Penjualan
                  %td
                    = link_to '#' do
                      %i.pe.pe-7s-comment.text-info
                      %h5 Forum
                      
        %li.dropdown
          %a.dropdown-toggle.label-menu-corner{"data-toggle" => "dropdown", :href => "#"}
            %i.pe-7s-mail
            %span.label.label-success 4
          %ul.dropdown-menu.hdropdown.animated.flipInX
            .title
              You have 4 new messages
            - (0..4).each do |f|
              %li
                = link_to 'It is a long established.' ,'#'
            %li.summary
              = link_to 'See All Messages', '#'
        %li
          %a#sidebar.right-sidebar-toggle{:href => "#"}
            %i.pe-7s-upload.pe-7s-news-paper
        %li.dropdown
          = link_to destroy_user_session_path, method: 'delete' do
            %i.pe-7s-upload.pe-rotate-90