%aside#menu
  #navigation
    .profile-picture
      = link_to dashboard(current_user) do
        .img-circle.thumb.m-auto.mb-20
          = image_tag current_user.avatar.url(:thumb)
      .stats-label.text-color
        %span.font-extra-bold.font-uppercase Alam Topani H
        .dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %small.text-muted
              Pengaturan
              %b.caret
          %ul.dropdown-menu.animated.flipInX.m-t-xs
            %li
              = link_to 'Beranda', dashboard(current_user)
            %li
              = link_to 'Pengaturan Profil', edit_account(current_user)
            %li.divider
            %li
              = link_to 'Keluar', destroy_user_session_path, method: 'delete'

        #sparkline1.small-chart.m-t-sm
        %div
          = link_to buzzer_transactions_path do
            %h4.font-extra-bold.m-b-xs.side-money
              IDR. <span id='money'>#{get_nominal(current_user.money)}</span>
            %small.text-muted SALDO

    %ul#side-menu.nav
      %li{class: active_sidebar?(:home, :dashboard)}
        = link_to 'Beranda', dashboard(current_user)

      - if current_user.is_business?
        %li{class: active_sidebar?(:billings, :all)}
          = link_to business_billings_path do
            %span.nav-label Billings
        %li{class: active_sidebar?(:promotions, :show)}
          %a{:href => "#"}
            %span.nav-label Analytics
            %span.fa.arrow
          %ul.nav.nav-second-level
            - @get_analytics.each do |f|
              %li
                = link_to f.title, business_promotion_path(f)
        %li{class: active_sidebar?(:promotions, :new) || active_sidebar?(:promotions, :index) || active_sidebar?(:promotions, :edit)}
          %a{:href => "#"}
            %span.nav-label Promotions
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li{class: active_sidebar?(:promotions, :new) || active_sidebar?(:promotions, :edit)}
              = link_to 'Buat Promotion', new_business_promotion_path
            %li{class: active_sidebar?(:promotions, :index)}
              = link_to 'List Promotions', business_promotions_path
        / %li
        /   %a{:href => "#"}
        /     %span.nav-label Vouchers
        /     %span.fa.arrow
        /   %ul.nav.nav-second-level
        /     %li
        /       = link_to 'Buat Voucher', '#'
        /     %li
        /       = link_to 'List Vouchers', '#'
        /     %li
        /       = link_to 'Penjualan Vouchers', '#'
        / %li
        /   = link_to '#' do
        /     %span.nav-label Forums
        /     %span.label.label-info.pull-right NEW

      - elsif current_user.is_buzzer?
        %li{class: active_sidebar?(:activities, :all)}
          = link_to 'Aktivitas Saya', buzzer_activities_path
        %li{class: active_sidebar?(:credits, :all)}
          = link_to 'Pendapatan', buzzer_credits_path
        %li{class: active_sidebar?(:home, :jobs)}
          = link_to 'Mulai Bekerja', buzzer_jobs_path



