// ###############################
// COMPONENTS
// ###############################
$grey: #f5f5f5;
$grey_old: #ccc;
$grey_text: #909295;
$purple: #4f188c;
$purple_old: #3c0e6f;

/*=======================================
  Wrapper Content Custom
=======================================*/
#wrapper{
  .content{
    padding-bottom: 80px;
  }
}

/*=======================================
  Fonts Custom
=======================================*/
small, .small {
  font-size: 11px!important;
}

/*=======================================
  Avatar Custom
=======================================*/
.img-circle{
  overflow: hidden;
  img{
    width: 100%;
  }
}
.img-circle.thumb{
  height: 60px;
  width: 60px;
}
.img-circle.thumb-small{
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 5px;
}

/*=======================================
  Margin Custom
=======================================*/
.m-auto{
  margin: auto;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 10px;
}

/*=======================================
  HR Custom
=======================================*/
hr{
  border-top: 1px solid $grey!important;
}
.hr12{
  margin-bottom: 12px;
  margin-top: 12px;
}

/*=======================================
  Side Menu Custom
=======================================*/
.fixed-sidebar{
  #menu{
    width:200px;
    background: $purple_old;
    color: $grey;
    top: 55px;
    .text-muted{
      color: $grey;
    }
    #side-menu{
      background: $purple_old;
      a{
        color: $grey;
      }
      li{
        border:0;
      }
      li.active, li > a:hover, li > a:focus{
        background: $purple;
      }
      li .nav-second-level li.active a{
        background: #48187d;
      }
    }
  }
  #wrapper {
    top: 55px;
  }
  #header{
    background-color: $purple_old;
    border-bottom: 1px solid $purple_old;
    .navbar.navbar-static-top a.dropdown-toggle, 
    .nav.navbar-nav li a.dropdown-toggle,
    li a.right-sidebar-toggle{
      color: $grey;
    }
    #logo.light-version {
      background-color: $purple;
      border:0;
      span{
        color: white;
      }
    }
    .header-link{
      background-color: $purple;
      color: white;
      border-right: 1px solid $purple_old;
      border-left: 1px solid $purple_old;
    }
    .navbar-nav > li > a:hover, 
    .navbar-nav > li > a:focus, 
    .navbar-nav .open > a, 
    .navbar-nav .open > a:hover, 
    .navbar-nav .open > a:focus{
      background: $purple;
      border-bottom: 1px solid $purple;
    }
    .navbar-form-custom{
      .form-control{
        color: $grey;
      }
    }
  }
}
body.hide-sidebar{
  #menu{
    margin-left: -200px;
  }
}
#wrapper{
  margin: 0 0 0 200px;
  background: rgba(3, 169, 244, 0.14);
}
#logo{
  width:200px;
}

/*=======================================
  Panel Custom
=======================================*/
.hpanel .panel-body{
  padding: 15px;
}
.hpanel > .panel-footer, 
.hpanel > .panel-section{
  background: $purple_old;
  color: $grey;
  a{
    color: $grey_old;
  }
}
.blog-box{
  .col-md-8{
    padding-right: 0;
  }
  .col-md-4{
    padding-left: 0;
    i{
      font-size: 20px;
      color: #ccc;
    }
    .btn{
      i{
        color: white;
      }
    }
  }
  .btn-fb, .btn-tw, .btn-int{
    // width: 33.3%;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 0;
  }
  .panel-image{
    position: relative;
    input{
      z-index: 9;
      position: absolute;
      opacity: 0.0;
      height: 100%;
      cursor: pointer;
    }
    .share{
      font-size: 20px;
      text-align: center;
      color: white;
      font-weight: 200;
      padding: 10px 10px;
      border-radius: 2px;
      position: absolute;
      top: 36%;
      left: 0;
      right: 0;
      margin: 0 20%;
      z-index: 1;
      border-bottom: solid 1px white;
      border-top: solid 1px white;
      background: rgba(0,0,0,0.5);
      cursor: pointer;
      display: none;
    }
    .share.already_shared{
      display: block!important;
    }
    .reward{
      color: white;
      font-weight: 200;
      padding: 2px 10px;
      border-radius: 2px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
    }
  }
  .panel-image:hover{
    .share{
      display: block;
    }
  }
  .panel-image-show{
    height: 450px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .panel-footer{
    background: $grey;
    color: $grey_text;
    a{
      color: $grey_text;
    }
    hr{
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}
.hpanel.hgfb .panel-body {
  border-top: 2px solid #3b5998;
}
.hpanel.hgtw .panel-body {
  border-top: 2px solid #1b95e0;
}
.hpanel-bos-promo{
  .cover-image{
    width: 160px;
    height: 130px;
    overflow: hidden;
    position: relative;
    img{
      width: auto;
      height: 100%;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }
  hr{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/*=======================================
  Map Custom
=======================================*/
#map {
  height: 400px;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
  border: solid 3px $grey;
  background: $grey;
}
.controls {
  background-color: white!important;
  border-radius: 2px!important;
  border: 1px solid transparent!important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)!important;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 17px;
  margin-top: 10px!important;
  outline: none!important;
  padding: 0 11px 0 13px!important;
  text-overflow: ellipsis;
  width: 100%!important;
  height: 29px!important;
}
.controls:focus {
  border-color: #4d90fe;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}

/*=======================================
  Card Identity Custom
=======================================*/
.avatar-edit-account{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: solid 2px $grey_old;
  position: relative;
  background: $grey_old;
  img{
    width: 100%;
  }
  input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}
.avatar-edit-account:hover{
  img{
    opacity: 0.5;
  }
}

/*=======================================
  Wizard Custom
=======================================*/
#wizardControl{
  .nav-tabs{
    margin: auto;
    display: table;
    border-bottom:0;
  }
  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #e4e5e7;
    border-radius: 4px;
    color: #6a6c6f;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #34495e;
    border-color: #34495e;
    color: white;
    border-radius: 4px;
  }
}

/*=======================================
  Select2 Custom
=======================================*/
.select2-container{
  width: 100%!important;
  border-color: #e4e5e7 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single{
  border: solid #e4e5e7 1px!important;
}

/*=======================================
  Button Custom
=======================================*/
.btn-full{
  width: 100%;
}
.btn-fb{
  background: #3b5998;
  color: white;
}
.btn-fb:hover{
  color: white;
}
.btn-tw{
  background: #1b95e0;
  color: white;
}
.btn-tw:hover{
  color: white;
}

/*=======================================
  Masonry Custom
=======================================*/
.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.item {
  display: inline-block;
  background: white;
  padding: 0;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 $grey_old;
  .panel-heading, .panel-image, .panel-body, .panel-footer{
    border: 0;
  }
}

/*=======================================
  Slider Custom
=======================================*/
.slider{
  width: 70%!important;
}


/*=======================================
  Pagination Custom
=======================================*/
.pagination{
  margin: auto;
  display: table;
  a, .current{
    padding: 5px 8px;
    background: white;
    margin: 1px;
    color: $grey_text;
  }
  a:hover, .current:hover{
    opacity: 0.8;
  } 
  .current{
    margin-right: 5px;
    text-align: center;
    background: $purple_old;
    color: white;
  }
}

/*=======================================
  Checkbox Custom
=======================================*/
.checkbox{
  input{
    margin-left: 0!important;
  }
}

/*=======================================
  Money Font
=======================================*/
.side-money{
  color: white!important;
}


/*=======================================
  Responsive Custom
=======================================*/
@media screen and (max-width: 400px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 767px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}



