<h4 align='center'>Change your password</h4>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true,  class: 'validate' %>
    <%= f.label :password, "New password", 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true,  class: 'validate' %>
    <%= f.label :password_confirmation, "Confirm new password", 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <%= f.submit "Change my password", class: 'btn-large btn-full' %>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>
