<h4 align='center'>Forgot your password?</h4>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <%= f.email_field :email, required: true,  class: 'validate' %>
    <%= f.label :email, 'data-error'=>"wrong", 'data-success'=>"right" %>
  </div>

  <div class="input-field">
    <%= f.submit "Send me reset password instructions", class: 'btn-large btn-full' %>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>
