%label Verifikasi akun facebook?
.hpanel.hgfb.contact-panel.connect-social-account
  .panel-body
    .row.valign-wrapper
      .col-xs-2
        = link_to "https://facebook.com/#{current_user.facebook_uid}" do
          %img.img-circle{src: current_user.facebook_avatar.url(:thumb)}
      .col-xs-7
        %span
          - unless current_user.facebook_uid.present?
            %br Silahkan verifikasi akun facebook anda terlebih dahulu
          - else
            %small 
              Your twitter account has been successfully connected <br>at <b>#{current_user.facebook_oauth_token_register_at.strftime('%d %B %Y - %H:%M:%S')}</b> <br>by uid <b>#{current_user.facebook_uid}</b> and you have <b>#{current_user.facebook_friends_count}</b> friends
  
      .col-xs-3
        = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-full btn-fb' do
          - unless current_user.facebook_uid.present?
            %i.fa.fa-facebook{"aria-hidden" => "true"} 
            %br
            Verifikasi
          - else
            %i.fa.fa-facebook{"aria-hidden" => "true"}
            %br
            %i.fa.fa-check-circle-o
            Terkoneksi

%label Verifikasi akun twitter?
.hpanel.hgtw.contact-panel.connect-social-account
  .panel-body
    .row.valign-wrapper
      .col-xs-2
        = link_to "https://twitter.com/#{current_user.twitter_uid}" do
          %img.img-circle{src: current_user.twitter_avatar.url(:thumb)}
      .col-xs-7
        %span
          - unless current_user.twitter_uid.present?
            %br Silahkan verifikasi akun twitter anda terlebih dahulu
          - else
            %small 
              Your twitter account has been successfully connected <br>at <b>#{current_user.twitter_oauth_token_register_at.strftime('%d %B %Y - %H:%M:%S')}</b> <br>by uid <b>#{current_user.twitter_uid}</b> and you have <b>#{current_user.twitter_followers_count}</b> followers
      .col-xs-3
        = link_to user_twitter_omniauth_authorize_path, class: 'btn btn-full btn-tw' do
          - unless current_user.twitter_uid.present?
            %i.fa.fa-twitter{"aria-hidden" => "true"}
            %br
            Verifikasi
          - else
            %i.fa.fa-twitter{"aria-hidden" => "true"}
            %br
            %i.fa.fa-check-circle-o
            Terkoneksi
.text-right.m-t-xs