.row
  .col-lg-4
    .hpanel.hgreen
      .panel-body
        .pull-right.text-right
          .btn-group
            - if current_user.facebook_uid.present?
              = link_to "http://facebook.com/#{current_user.facebook_uid}", class: 'btn btn-default btn-xs' do
                %i.fa.fa-facebook
            - if current_user.twitter_uid.present?
              = link_to "http://twitter.com/#{current_user.twitter_uid}", class: 'btn btn-default btn-xs' do
                %i.fa.fa-twitter
        = image_tag current_user.avatar.url(:thumb), class: 'img-circle m-b m-t-md thumb'
        %h3
          = @account.username
        .text-muted.font-bold.m-b-xs 
          = @account.email
        %small
          = @account.try(:address).try(:place_info)
        %br
        %br
        .progress.m-t-xs.full.progress
          .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@account.get_progress_profile_buzzer}", :role => "progressbar", :style => "width: #{@account.get_progress_profile_buzzer}%"}
            %small #{@account.get_progress_profile_buzzer}% Complete Profile
      / .border-right.border-left
      /   %section#map
      .panel-body
        %small Nama Lengkap
        %h4
          = @account.fullname
        %small Umur
        %h4
          #{@account.buzzer_profile.age} Tahun
        %small Jenis Kelamin
        %h4
          = @account.buzzer_profile.gender
        %small Pekerjaan
        %h4
          = @account.buzzer_profile.work
        %small Tertarik Industri
        %h4
          = @account.get_industries
        %small Alamat
        %h4
          = @account.address.sort_place_info
      .panel-footer.contact-footer
        .row
          .col-md-6.border-right
            .contact-stat
              %span Facebook Friends
              %strong #{current_user.facebook_friends_count}
          .col-md-6
            .contact-stat
              %span Twitter Followers
              %strong #{current_user.twitter_followers_count}
  .col-lg-8
    .hpanel
      .panel-body
        %h2{align: 'center'} Pengaturan
        %br
        #wizardControl.text-center.m-b-md
          %ul.nav.nav-tabs{role: "tablist"}
            %li.active{role: "presentation"}
              %a.btn.btn-default{"data-toggle" => "tab", "aria-controls" => "step1", role: "tab", :href => "#step1"} Pengaturan Akun
            %li{role: "presentation"}
              %a.btn.btn-default{"data-toggle" => "tab", "aria-controls" => "step2", role: "tab", :href => "#step2"} Pengaturan Profil
            %li{role: "presentation"}
              %a.btn.btn-default{"data-toggle" => "tab", "aria-controls" => "step3", role: "tab", :href => "#step3"} Pengaturan Alamat

        .tab-content
          #step1.p-m.tab-pane.active
            = form_for @account, url: buzzer_account_path(@account), method: 'put' do |f|
              .row
                .col-lg-12
                  .row
                    .form-group.col-lg-12
                      .card-content
                        %center
                          .avatar-edit-account
                            = image_tag current_user.avatar.url(:thumb)
                            = f.file_field :avatar
                      %br
                      %br
                    .form-group.col-lg-6
                      %em * 
                      = f.label :username
                      = f.text_field :username, required: true, class: 'form-control'
                    .form-group.col-lg-6
                      %em * 
                      = f.label :email
                      = f.email_field :email, required: true, class: 'form-control'
                    .form-group.col-lg-6
                      = f.label 'Kata sandi baru'
                      = f.password_field :password, class: 'form-control'
                    .form-group.col-lg-6
                      = f.label 'Konfirmasi kata sandi'
                      = f.password_field :password_confirmation, class: 'form-control'
                    .form-group.col-lg-12
                      %em * 
                      = f.label 'No.Handphone'
                      = f.text_field :phone, class: 'form-control', required: true

              .text-right.m-t-xs
                = submit_tag 'SIMPAN', class: 'btn btn-success'
              %hr
              = render 'buzzer/accounts/social_account'

          #step2.p-m.tab-pane
            = form_for @account, url: buzzer_account_path(@account), method: 'put' do |f|
              = f.fields_for :buzzer_profile do |p|
                = f.fields_for :address do |ad|
                  .row
                    .col-lg-12
                      .row
                        .form-group.col-lg-6
                          %em * 
                          = p.label 'Nama depan'
                          = p.text_field :first_name, required: true, class: 'form-control'
                        .form-group.col-lg-6
                          %em * 
                          = p.label 'Nama belakang'
                          = p.text_field :last_name, required: true, class: 'form-control'
                        .form-group.col-lg-6
                          %em * 
                          = p.label 'Tanggal Lahir'
                          = p.text_field :born, required: true, class: 'form-control datepicker', value: @account.buzzer_profile.present? && @account.buzzer_profile.born.present? ? format_date(@account.buzzer_profile.born) : format_date(Date.today - 17.years)
                        .form-group.col-lg-6
                          %em * 
                          = p.label 'Jenis kelamin'
                          = p.select :gender, get_gender, {prompt: 'Pilih Jenis Kelamin'}, required: true, class: 'form-control'
                        .form-group.col-lg-12
                          %em * 
                          = p.label 'Pekerjaan'
                          = p.text_field :work, required: true, class: 'form-control'
                        .form-group.col-lg-12
                          %em * 
                          = p.label 'Tertarik dengan industri'
                          = p.select :industries, get_industries, {prompt: 'Pilih Industri'}, required: true, multiple: true, class: 'form-control select2'
                        .form-group.col-lg-12
                          %em * 
                          = p.label 'Mengetahui situs ini dari'
                          = p.select :from, get_we_are_from, {prompt: 'Mengetahui situs ini dari'}, required: true, class: 'form-control'
                  %hr
                  .text-right.m-t-xs
                    = submit_tag 'SIMPAN', class: 'btn btn-success'

          #step3.p-m.tab-pane
            = form_for @account, url: buzzer_account_path(@account), method: 'put' do |f|
              = f.fields_for :address do |ad|
                .row
                  .col-lg-12
                    .row
                      .form-group.col-lg-6
                        %em * 
                        = ad.label 'Provinsi'
                        = ad.select :province, options_for_select(get_regions, ad.object.province), {prompt: 'Pilih Provinsi'}, 'data-node' => "buzzer", required: true, class: 'form-control select-province select2'
                      .form-group.col-lg-6
                        %em * 
                        = ad.label 'Kota'
                        .city-container
                          = ad.select :city, options_for_select(get_city(ad.object.province), ad.object.city), {prompt: 'Pilih Kota'}, required: true, class: 'form-control select2'
                      .form-group.col-lg-12
                        %em * 
                        = ad.label 'Alamat Lengkap'
                        = ad.text_field :address, required: true, class: 'form-control'
                      .form-group.col-lg-12
                        = ad.hidden_field :country, value: 'Indonesia'
                        = ad.hidden_field :latitude, class: 'latitude'
                        = ad.hidden_field :longitude, class: 'longitude'
                        %input#pac-input.controls{placeholder: "Tentukan Lokasi Persis Anda", type: "text"}
                        #map
                        #infowindow-content
                          %span#place-name.title
                          %br
                          Place ID
                          %span#place-id
                          %br
                          %span#place-address

                %hr
                .text-right.m-t-xs
                  = submit_tag 'SIMPAN', class: 'btn btn-success'

= render 'business/shareds/js_set_geo_map'


