.row
  .col.s3
    .card.card-identity.fixed.fixed-panel
      .card-image
        %a.btn-floating.halfway-fab.waves-effect.waves-light.red
          = image_tag 'user_default.jpeg'
      %br
      .card-content
        %center
          .username 
            %b Alam Topani H
          %p Buzzer is how to share the campign fasted
        %hr
        %center
          .number 120
          %p Who's hired your
        %hr
        %center
          .number 200
          %p Campaign that has been done

  .col.s6
    - for i in 1..10 do
      .card.horizontal
        .card-image
          %img{:src => "http://materializecss.com/images/office.jpg"}
        .card-stacked
          .card-content
            %p I am a very simple card. I am good at containing small bits of information.
          .card-action
            %a{:href => "#"} This is a link
  .col.s3
    .card.fixed.fixed-panel
      .card-content
        %p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      .card-tabs
        %ul.tabs.tabs-fixed-width
          %li.tab
            %a{:href => "#test4"} Test 1
          %li.tab
            %a.active{:href => "#test5"} Test 2
      .card-content.grey.lighten-4
        #test4 Test 1
        #test5 Test 2
