<script type="text/javascript">
  $(document).ready(function(){
    /** 
     * Analytic Chart Data
     */

    var lineData = {
      labels: <%= raw @visit_count.map{|c| c[0]} %>,
      datasets: [
      {
        label: "Example dataset",
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: <%= raw @visit_count.map{|c| c[1]} %>
      },
      {
        label: "Example dataset",
        fillColor: "rgba(98,203,49,0.5)",
        strokeColor: "rgba(98,203,49,0.7)",
        pointColor: "rgba(98,203,49,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(26,179,148,1)",
        data: <%= raw @visit_count.map{|c| c[1]} %>
      }
      ]
    };

    var lineOptions = {
      scaleShowGridLines : true,
      scaleGridLineColor : "rgba(0,0,0,.05)",
      scaleGridLineWidth : 1,
      bezierCurve : true,
      bezierCurveTension : 0.4,
      pointDot : true,
      pointDotRadius : 4,
      pointDotStrokeWidth : 1,
      pointHitDetectionRadius : 20,
      datasetStroke : true,
      datasetStrokeWidth : 1,
      datasetFill : true,
      responsive: true
    };

    var ctx = document.getElementById("lineOptions").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);


    /**
     * Pie Chart Data
     */
    var pieChartData = [
    { label: "Laki-Laki", data: <%= @gender['Laki-Laki'].present? ? @gender['Laki-Laki'] : 0 %>, color: "orange", },
    { label: "Perempuan", data: <%= @gender['Perempuan'].present? ? @gender['Perempuan'] : 0 %>, color: "red", },
    ];

    /**
     * Pie Chart Options
     */
    var pieChartOptions = {
    series: {
      pie: {
        show: true
      }
    },
    grid: {
      hoverable: true
    },
    tooltip: true,
    tooltipOpts: {
        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
        shifts: {
          x: 20,
          y: 0
        },
        defaultTheme: false
      }
    };

    $.plot($("#flot-pie-chart"), pieChartData, pieChartOptions);
  });
</script>