<script type="text/javascript">
  google.load('visualization','1', {'packages': ['geochart']});
  google.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {
    var data = new google.visualization.DataTable();
    data.addColumn('string','Country');
    data.addColumn('number','Popularity');
    data.addRows(
                  [
                    <% @province_locations.to_a.each do |loc| %>
                      [{f: "<%= loc[0] %>", v: "<%= get_code_province(loc[0]) %>"}, <%= loc[1] %>], 
                    <% end %>
                  ]
                );
    
    var options = {'title':'Map','width':'100%','region':'ID','resolution':'provinces'};
    var container = document.getElementById('map_canvas_geochart');
    var geochart = new google.visualization.GeoChart(container);
    geochart.draw(data, options);
  };
</script>