<h4 align='center'>Log in</h4>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <%= f.text_field :login, required: true, class: 'validate' %>
    <%= f.label 'Username or Email', for: "user_login", 'data-error'=>"wrong", 'data-success'=>"right" %><br />
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password, autocomplete: "off", required: true, class: 'validate' %>
    <%= f.label :password, 'data-error'=>"wrong", 'data-success'=>"right" %><br />
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="input-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="input-field">
    <%= f.submit "Log in", class: 'btn-large btn-full' %>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>
