.row
  .col-lg-12
    .text-center.m-b-xl
      %h3 PAKET PENYEBARAN PROMOSI
      %p
        Kami menawarkan harga yang terbaik dan terjangkau untuk anda yang membutuhkan banyak Buzzers untuk penyebaran promosi anda.
    .row
      .col-sm-3
        .hpanel.plan-box.hyellow
          .panel-heading.hbuilt.text-center
            %h4.font-bold BASIC
          .panel-body
            %p.text-muted
              Paket ini diperuntukan untuk anda yang memiliki bisnis kecil, yang membutuhkan jasa penyebaran promosi sekala kecil.
            %table.table
              %thead
                %tr
                  %td
                    Fitur
              %tbody
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Kuota 500 Buzzers
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Facebook
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Twitter
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Filter Buzzer Bisa Ditentukan Berdasarkan Industri, Umur, Gender, Lokasi
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Free Analytics Iklan
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Jaminan Sisa Uang Kembali
            %h3.font-bold.text-center
              Rp.120.000
            %br
            = link_to 'PILIH', new_business_promotion_path(package: 'basic'), class: 'btn btn-warning btn-lg btn-full'
      .col-sm-3
        .hpanel.plan-box.hgreen.active
          .panel-heading.hbuilt.text-center
            %h4.font-bold STANDAR
          .panel-body
            %p.text-muted
              Paket ini sangat disarankan untuk anda yang memiliki bisnis menengah, yang membutuhkan banyak penyebaran promosi dimedia social.
            %table.table
              %thead
                %tr
                  %td
                    Fitur
              %tbody
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Kuota 1000 Buzzers
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Facebook
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Twitter
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Filter Buzzer Bisa Ditentukan Berdasarkan Industri, Umur, Gender, Lokasi
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Free Analytics Iklan
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Jaminan Sisa Uang Kembali
            %h3.font-bold.text-center
              Rp.240.000
            %br
            = link_to 'PILIH', new_business_promotion_path(package: 'standar'), class: 'btn btn-success btn-lg btn-full'
      .col-sm-3
        .hpanel.plan-box.hblue
          .panel-heading.hbuilt.text-center
            %h4.font-bold PREMIUM
          .panel-body
            %p.text-muted
              Paket ini diperuntukan untuk anda yang memiliki bisnis besar, yang membutuhkan banyak sekali penyebaran promosi dimedia sosial.
            %table.table
              %thead
                %tr
                  %td
                    Fitur
              %tbody
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Kuota 1500 Buzzers
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Facebook
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Twitter
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Filter Buzzer Bisa Ditentukan Berdasarkan Industri, Umur, Gender, Lokasi
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Premium Analytics Iklan
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Jaminan Sisa Uang Kembali
            %h3.font-bold.text-center
              Rp.360.000
            %br
            = link_to 'PILIH', new_business_promotion_path(package: 'premium'), class: 'btn btn-info btn-lg btn-full'
      .col-sm-3
        .hpanel.plan-box.hred
          .panel-heading.hbuilt.text-center
            %h4.font-bold PRESTIGE
          .panel-body
            %p.text-muted
              Paket ini sangat disarankan untuk anda pemilik bisnis besar, yang membutuhkan banyak sekali penyebaran promosi di media sosial.
            %table.table
              %thead
                %tr
                  %td
                    Fitur
              %tbody
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Kuota 3000 Buzzers
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Facebook
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Penyebaran Via Twitter
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Filter Buzzer Bisa Ditentukan Berdasarkan Industri, Umur, Gender, Lokasi
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Prestige Analytics Iklan
                %tr
                  %td
                    %i.fa.fa-check-square-o
                    Jaminan Sisa Uang Kembali
            %h3.font-bold.text-center
              Rp.720.000
            %br
            = link_to 'PILIH', new_business_promotion_path(package: 'prestige'), class: 'btn btn-danger btn-lg btn-full'

