/############ Analytics header ###############
.row
  .col-lg-12.text-center.m-t-md
    %h2
      Dashboard Data Buzzers <br>#{@promo.title}
    %p
      Di <b>Halaman Analytics</b> ini menunjukan segala data Buzzers yang anda sewa untuk menyebarkan iklan/promosi anda!
    %br
    %br

/############ All shares campaigns buzzers by facebook and twitter ###############
.row
  - if @promo.is_facebook_only?
    %div{class: @promo.is_facebook_only? && @promo.is_twitter_only? ? 'col-md-6' : 'col-md-12'}
      .hpanel.hbgblueold
        .panel-body
          .text-center
            %h3 Share di Facebook
            %p.text-big.font-light
              = @fb_shares.size rescue 0
            %small
              Potensi Jangkauan <br> Menjangkau #{@fb_range_share} orang

  - if @promo.is_twitter_only?
    %div{class: @promo.is_facebook_only? && @promo.is_twitter_only? ? 'col-md-6' : 'col-md-12'}
      .hpanel.hbgblue
        .panel-body
          .text-center
            %h3 Share di Twitter
            %p.text-big.font-light
              = @tw_shares.size rescue 0
            %small
              Potensi Jangkauan <br> Menjangkau #{@tw_range_share} orang
  / .col-md-3
  /   .hpanel.hbgnavyblue
  /     .panel-body
  /       .text-center
  /         %h3 Instagram
  /         %p.text-big.font-light
  /           750
  /         %small
  /           Potensi Jangkauan <br> Menjangkau 10.000 orang
  / .col-md-3
  /   .hpanel.hbgred
  /     .panel-body
  /       .text-center
  /         %h3 Youtube
  /         %p.text-big.font-light
  /           43
  /         %small
  /           Potensi Jangkauan <br> Menjangkau 10.000 orang

/############ All shares campaigns buzzers by grafic ###############
.row
  .col-lg-12
    .hpanel
      .panel-heading
        .panel-tools
          %a.showhide
            %i.fa.fa-chevron-up
          %a.closebox
            %i.fa.fa-times
        Biaya dan Kuota Buzzers
      .panel-body
        .row
          .col-md-3.text-center
            %br
            %i.pe-7s-cash.fa-4x
            %h1.m-xs.text-success
              = get_currency(@promo.price)
            %small Balance Promosi/Iklan
            %hr
            .row
              .col-xs-6
                %small.stats-label Terpakai
                %h4 #{get_currency(@promo.buzzer_shares.successed.sum(:reward))} <br><i class="fa fa-level-up text-danger"></i>
              .col-xs-6
                %small.stats-label Tersisa
                %h4 #{get_currency(@promo.budget?)} <br><i class="fa fa-plus text-success"></i>
            %hr
            .row
              .col-xs-12
                %small.stats-label Aktif Durasi Promosi/Iklan
                %h4 <i class="fa fa-clock-o"></i> #{@promo.duration?}

          .col-md-6
            .hpanel
              .panel-heading
                .panel-tools
                  %a.showhide
                    %i.fa.fa-chevron-up
                  %a.closebox
                    %i.fa.fa-times
                Dilihat Halaman Promosi/Iklan
              .panel-body
                %div
                  %canvas#lineOptions{:height => "140"}

          .col-md-3.text-center
            %br
            %i.pe-7s-share.fa-4x
            %h1.m-xs.text-success
              = @promo.quota
            %small Kuota Buzzers
            %hr
            .row
              .col-xs-6
                %h4 #{@promo.buzzer_shares.successed.size} <i class="fa fa-level-up text-danger"></i>
                %small.stats-label Terpakai
              .col-xs-6
                %h4 #{@promo.quota?} <i class="fa fa-plus text-success"></i>
                %small.stats-label Tersisa
              .col-xs-12
                %hr
              .col-xs-6
                %h4 #{@promo.buzzer_shares.rejected.size} <i class="fa fa-times text-danger"></i>
                %small.stats-label Gagal
              .col-xs-6
                %h4 #{@promo.buzzer_shares.only_successed.size} <i class="fa fa-check-circle-o text-success"></i>
                %small.stats-label Sukses
         
/############ All shares campaigns buzzers count ############### 
.row
  .col-lg-3
    .hpanel
      .panel-body
        .stats-title.pull-left
          %h4 Pengunjung
        .stats-icon.pull-right
          %i.pe-7s-display1.fa-4x
        .m-t-xl
          %h1.text-success #{@visit.impressionist_count(filter: :ip_address)} 
          %small Total Pengunjung
          %hr.hr12
          %small
            Data ini di dapatkan dari jumlah orang yang mengunjungi halaman promosi/iklan anda

  .col-lg-3
    .hpanel
      .panel-body
        .stats-title.pull-left
          %h4 Dilihat
        .stats-icon.pull-right
          %i.fa.fa-eye.fa-4x
        .m-t-xl
          %h1.text-success #{@visit.impressionist_count} 
          %small Telah Dilihat
          %hr.hr12
          %small
            Data ini di dapatkan dari berapa kali orang yang melihat halaman promosi/iklan anda

  .col-lg-3
    .hpanel.stats
      .panel-body.h-200
        .stats-title.pull-left
          %h4 Jenis Kelamin
          %br
        .stats-icon.pull-right
          %i.pe-7s-shuffle.fa-4x
        .clearfix
        .flot-chart
          #flot-pie-chart.flot-chart-content{:style => "height: 112px"}

  .col-lg-3
    .hpanel.stats
      .panel-body.h-200
        .stats-title.pull-left
          %h4 Jarak Umur
        .stats-icon.pull-right
          %i.pe-7s-users.fa-4x
        .m-t-xl
          %h1.text-success 
            = @get_buzzers.size
            %small Buzzers
          %hr
          .row
            .col-xs-6
              %small.stats-label Terendah
              %h4 #{@min_years rescue 0} Tahun
            .col-xs-6
              %small.stats-label Tertinggi
              %h4 #{@max_years rescue 0} Tahun

/############ All shares campaigns buzzers by table ###############
.row
  .col-lg-12
    .hpanel
      .panel-heading
        .panel-tools
          %a.showhide
            %i.fa.fa-chevron-up
          %a.closebox
            %i.fa.fa-times
        List Share Buzzers
      .panel-body.list
        - if @shares.present?
          .table-responsive.project-list
            %table.table.table-striped
              %thead
                %tr
                  %th.text-center No.
                  %th.text-center Buzzer
                  %th.text-center Via
                  %th.text-center Post Id
                  %th.text-center Engagement
                  %th.text-center Comment
                  %th.text-center Share
                  %th.text-center Kota
                  %th.text-center Waktu
                  %th.text-center Status
              %tbody
                - @shares.each_with_index do |f, index|
                  - usr = f.buzzer
                  %tr
                    %td.text-center
                      = index+1
                    %td.text-center
                      - if f.provider == 'facebook'
                        .img-circle.thumb-small{ src: usr.avatar.url(:thumb), 'data-toggle'=>"popover", 'data-trigger'=>'hover', 'data-placement'=>"top", 'data-html'=>"true", 'title'=>"<b>#{usr.username}</b> <br> <small style='font-weight:none;'>ID #{usr.facebook_uid} <br> #{usr.buzzer_profile.age} tahun</small>",'data-content'=>"<i class='fa fa-facebook-official' aria-hidden='true'></i>  <small>#{usr.facebook_friends_count} Friends</small>"}
                          = image_tag usr.avatar.url(:thumb)
                      - elsif f.provider == 'twitter'
                        .img-circle.thumb-small{ src: usr.avatar.url(:thumb), 'data-toggle'=>"popover", 'data-trigger'=>'hover', 'data-placement'=>"top", 'data-html'=>"true", 'title'=>"<b>#{usr.username}</b> <br> <small style='font-weight:none;'>ID #{usr.twitter_uid} <br> #{usr.buzzer_profile.age} tahun</small>",'data-content'=>"<i class='fa fa-twitter' aria-hidden='true'></i> <small>#{usr.twitter_followers_count} Followers</small>"}
                          = image_tag usr.avatar.url(:thumb)
                      = link_to usr.username,'#', class: 'label label-primary'
                    %td.text-center
                      <i class="fa fa-#{f.provider}"></i>
                    %td.text-center
                      = f.post_id
                    %td.text-center
                      = f.count_engagement?
                    %td.text-center
                      = f.count_comment?
                    %td.text-center
                      = f.count_share?
                    %td.text-center
                      = usr.try(:address).try(:city)
                    %td.text-center
                      = time_to_ago(f.created_at)
                    %td.text-center
                      = f.status?
        - else
          Tidak ada data yang ditemukan!
/############ All shares campaigns buzzers by map ###############
.row
  .col-lg-12
    .hpanel
      .panel-heading
        .panel-tools
          %a.showhide
            %i.fa.fa-chevron-up
          %a.closebox
            %i.fa.fa-times
        Lokasi Buzzers di Indonesia
      .panel-body
        .row
          .col-md-12
            #map_canvas_geochart{style: 'style="width: 90%; height: 20%;"'}


/############ All shares campaigns buzzers ###############
/ - if @shares.present?
/   .row
/     .col-lg-12
/       .hpanel
/         .panel-body
/           %b Hasil Penyebaran Campaigns

/     - @shares.each_with_index do |resource, index|
/       .col-md-4
/         - user = resource.buzzer
/         - promo = resource.promotion
/         .hpanel.item.blog-box
/           .panel-heading
/             .media.clearfix
/               %a.pull-left
/                 = image_tag user.avatar.url(:thumb)
/               .media-body
/                 %small
/                   %span.font-bold #{user.username.titleize}
/                   membagikan promosi anda <br>via <i class="fa fa-#{resource.provider}"></i> dengan post id <b>#{resource.post_id}</b>
/                 %br
/                 %small.text-muted 
/                   <i class="fa fa-clock-o"></i> #{time_to_ago(resource.created_at)}

/           = link_to buzzer_job_show_path(promo) do
/             .panel-image
/               .reward
/                 = resource.status?
/               = image_tag promo.cover.url(:normal)
/               .title
/                 %h4 
/                   = promo.title
/                 %small
/                   = promo.url.join('')
/           / .panel-body
/           /   %b #{promo.hashtag.join(' ')}
/           /   %br
/           /   %b #{promo.mention.join(' ')}
/           /   %br
/           /   %p #{promo.content}
/           /   - promo.industries.each do |i| 
/           /     <span class="label label-primary">#{i}</span>
/           .panel-footer
/             %span.pull-right
/               %i.fa.fa-comment-o
/               #{resource.count_comment} Comments
/             %i.fa.fa-thumbs-o-up
/             #{resource.count_engagement} Likes

