.col-lg-7
  .hpanel.hgreen
    .panel-body
      %h1{align: 'center'} #{params[:action] == 'edit' ? 'Ubah Promosi' : 'Buat Promosi'}
      %hr
      .row
        .form-group.col-lg-12
          %em * 
          = f.label 'Judul Promosi/Iklan'
          = f.text_field :title, required: true, class: 'form-control', 'ng-model' => 'yourTitlePromo'
        .form-group.col-lg-12
          %em * 
          = f.label 'Penjelasan Konten Promosi'
          = f.text_area :content, required: true, class: 'form-control', 'ng-model' => 'yourContentPromo', cols: 40
        .form-group.col-lg-12
          %em * 
          = f.label 'Deskripsi Lengkap'
          = f.cktext_area :description, required: true, class: 'form-control', ckeditor: { uiColor: '#FFFFFF', toolbar: 'mini' }
        .form-group.col-lg-12
          %em * 
          %label URL Promosi (ex. http://your-url.com/page)
          = f.select :url, (@promo.url || []), {}, required: true, class: 'form-control js-select2-tag-single',  multiple: true, 'ng-model' => 'yourUrlPromo'
        .form-group.col-lg-12
          %label mention (ex. @myFriendName)
          = f.select :mention, (@promo.mention || []), {}, class: 'form-control js-select2-tag',  multiple: true, 'ng-model' => 'yourMentionPromo'
        .form-group.col-lg-12
          %label hashtag (ex. #BrandCompanyHashtag)
          = f.select :hashtag, (@promo.hashtag || []), {}, class: 'form-control js-select2-tag',  multiple: true, 'ng-model' => 'yourHashtagPromo'
        - unless params[:action] == 'edit' && @promo.status != Promotion::INACTIVE
          .form-group.col-lg-6
            %em * 
            = f.label :start_date
            = f.text_field :start_date, required: true, class: 'form-control datepicker', 'ng-model' => 'yourStartPromo', value: @promo.start_date.present? ? @promo.start_date : Time.zone.now.to_date
          .form-group.col-lg-6
            %em * 
            = f.label :expired_date
            = f.text_field :expired_date, required: true, class: 'form-control datepicker', 'ng-model' => 'yourEndPromo', value: @promo.expired_date.present? ? @promo.expired_date : Time.zone.now.to_date
        - else
          .form-group.col-lg-6
            = f.label :start_date
            %br
            %span #{@promo.start_date}
          .form-group.col-lg-6
            = f.label :expired_date
            %br
            %span #{@promo.expired_date}

  .hpanel.hgreen
    .panel-body
      %h4{align: 'center'} Tambahan Informasi Konten
      %hr
      .row
        .form-group.col-md-12
          %em * 
          = f.label 'Kontak/WhatsUp/Line'
          = f.text_field :phone, required: true, class: 'form-control', placeholder: 'ex.+6285777956729'
        .form-group.col-md-12
          = f.label 'Facebook URL/Fanpage'
          = f.text_field :url_facebook, class: 'form-control', placeholder: 'ex.https://facebook.com/fan-page-name'
        .form-group.col-md-12
          = f.label 'Twitter URL'
          = f.text_field :url_twitter, class: 'form-control', placeholder: 'ex.https://twitter.com/fan-page-name'
        .form-group.col-md-12
          = f.label 'Instagram URL'
          = f.text_field :url_instagram, class: 'form-control', placeholder: 'ex.https://instagram.com/fan-page-name'
        .form-group.col-md-12
          = f.hidden_field :latitude, class: 'latitude'
          = f.hidden_field :longitude, class: 'longitude'
          %input#pac-input.controls{name: 'promotion[address]', placeholder: "Tentukan Lokasi Persis Anda", type: "text", value: @promo.address}
          #map
          #infowindow-content
            %span#place-name.title
            %br
            Place ID
            %span#place-id
            %br
            %span#place-address      
.col-lg-5
  .hpanel.blog-box
    .panel-heading
      .media.clearfix
        %a.pull-left
          = image_tag current_user.avatar.url(:thumb)
        .media-body
          %small
            %span.font-bold
              = current_user.username.titleize
            membuat pekerjaan untuk Buzzers
          %br
          %small.text-muted
            - unless params[:action] == 'edit' && @promo.status != Promotion::INACTIVE
              <i class="fa fa-clock-o"></i> #{time_to_ago(Time.zone.now)}
            - else
              <i class="fa fa-clock-o"></i> #{time_to_ago(@promo.created_at)}
    .panel-image
      = f.file_field :cover, class: 'form-control yourCoverPromo'
      .share{style: 'display:block;'} #{params[:action] == 'edit' ? 'UBAH SAMPUL' : 'UPLOAD SAMPUL'}
      %img.yourCoverPromoPhoto{:alt => "", :src => "#{@promo.cover}"}
      .title
        %a{:href => "blog_details.html"}
          %h4 {{yourTitlePromo}}
        %small {{yourUrlPromo.join('')}}
    .panel-body
      %b {{yourHashtagPromo.join(' ')}}
      %br
      %b {{yourMentionPromo.join(' ')}}
      %br
      %p {{yourContentPromo}}
      %a.btn.btn-primary.btn-xs{:href => "#"} {{yourIndustriPromo.join(', ')}}
    .panel-footer
      %span.pull-right
        %i.fa.fa-users 
        {{yourBuzzersPromo}} Buzzers
      %i.pe-7s-share 
      0 Shares

  - unless params[:action] == 'edit' && @promo.status != Promotion::INACTIVE
    .hpanel.hgreen
      .panel-body
        %h4{align: 'center'} Tentukan Buzzers Yang di Inginkan
        %hr
        .row
          .form-group.col-lg-12
            %em * 
            = f.label 'Pengguna Sosial Media'
            = f.select :providers, ['Facebook', 'Twitter'], {}, required: true, multiple: true, class: 'form-control select2', 'ng-model' => 'yourProvidersPromo'
          .form-group.col-lg-12
            %em * 
            = f.label 'Industri'
            = f.select :industries, get_industries, {prompt: 'Semua Industri'}, required: true, multiple: true, class: 'form-control select2', 'ng-model' => 'yourIndustriPromo'
          .form-group.col-lg-12
            %em * 
            = f.label 'Jumlah Buzzer yang dicari'
            %br
            .panel-body.text-center
              %input#slider_buzzer{name: 'promotion[quota]', "data-provide" => "slider", "data-slider-max" => "2000", "data-slider-min" => "500", "data-slider-step" => "500", "data-slider-ticks" => "[500, 1000, 1500, 2000]", "data-slider-ticks-labels" => "[\"500\", \"1000\", \"1500\", \"2000\"]", "data-slider-tooltip" => "hide", "data-slider-value" => "#{@package.present? ? @package : @promo.quota}", :type => "text", 'ng-model' => 'yourBuzzersPromo'}
          .form-group.col-lg-12
            %em *
            = f.label 'Berdasarkan Kota'
            = f.select :cities, get_all_cities, {prompt: 'Semua Kota'}, required: true, multiple: true, class: 'form-control select2', 'ng-model' => 'yourLocationPromo'
          .form-group.col-lg-12
            %em *
            = f.label 'Berdasarkan Jenis Kelamin'
            = f.select :gender, ['Semua Jenis Kelamin','Laki-Laki', 'Perempuan'], {prompt: 'Pilih'}, required: true, class: 'form-control', 'ng-model' => 'yourGenderPromo'
          .form-group.col-lg-12
            %em
            = f.label 'Berdasarkan Umur'
            %br
            .panel-body.text-center
              %b 17 Thn &nbsp;&nbsp;&nbsp;
              %input#slider_age.span2{name: 'promotion[range_age]', "data-slider-max" => "65", "data-slider-min" => "17", "data-slider-step" => "5", "data-slider-value" => "[17,50]", :type => "text", :value => "", 'ng-model' => 'yourAgePromo'}
              %b &nbsp;&nbsp; 65 Thn  

  .hpanel.hgreen
    .panel-body
      %h4 Jangkauan Promosi & Harga
      %hr
      .row
        .col-xs-6
          <i class="fa fa-share-alt"></i> Pengguna Sosial Media
        .col-xs-6
          {{yourProvidersPromo.join(', ')}}
        .col-xs-6
          <i class="fa fa-heart-o"></i> Berdasarkan Industri
        .col-xs-6
          {{yourIndustriPromo.join(', ')}}
        .col-xs-6
          <i class="fa fa-map-marker"></i> Berdasarkan Kota
        .col-xs-6
          {{yourLocationPromo.join(', ')}}
        .col-xs-6
          <i class="fa fa-user" aria-hidden="true"></i> Berdasarkan Jenis Kelamin
        .col-xs-6
          %b {{yourGenderPromo}}
        .col-xs-6
          <i class="fa fa-genderless" aria-hidden="true"></i> Berdasarkan Umur
        .col-xs-6
          %b {{yourAgePromo.split(',').join(' - ') }} Thn
        .col-xs-6
          <i class="fa fa-users" aria-hidden="true"></i> Jumlah Buzzers
        .col-xs-6
          %b {{yourBuzzersPromo}} Buzzers

      %hr
      .row
        .col-xs-6
          %h4 Biaya Promosi
        .col-xs-6
          %h4 Rp.{{yourBuzzersPromo * 200 | number: 0 }}
        .col-xs-6
          %h4 Fee
        .col-xs-6
          %h4 Rp.{{((yourBuzzersPromo * 200) * 40/100) | number: 0 }}
        .col-xs-6
          %h4 Total Tagihan
        .col-xs-6
          %h4 Rp.{{(yourBuzzersPromo * 200) + ((yourBuzzersPromo * 200) * 40/100) | number: 0 }}
        .col-xs-12
          %br
          = submit_tag "#{params[:action] == 'edit' ? 'SAVE' : 'CHECKOUT'}", class: 'btn btn-success btn-lg btn-full'

= render 'business/shareds/js_set_geo_map_promo'
