.row{'ng-app' => "", 'ng-init' => "yourTitlePromo = '#{@promo.title}' ; yourContentPromo = '#{@promo.content}' ; yourUrlPromo = #{@promo.url.reject(&:empty?)} ; yourHashtagPromo = #{@promo.hashtag.reject(&:empty?)} ; yourMentionPromo = #{@promo.mention.reject(&:empty?)} ; yourIndustriPromo = #{@promo.industries.reject(&:empty?)} ; yourLocationPromo = #{@promo.cities.reject(&:empty?)} ; yourStartPromo = '#{@promo.start_date}' ; yourEndPromo = '#{@promo.expired_date}' ; yourGenderPromo = '#{@promo.gender}' ; yourBuzzersPromo = '#{@promo.quota}' ; yourAgePromo = '#{@promo.range_age}' ; yourProvidersPromo = #{@promo.providers.reject(&:empty?)} "}
  = form_for @promo, url: business_promotion_path(@promo), method: 'put' do |f|
    = render 'form', f: f