%h1{align: 'center'} Promosi Iklan
%br
.row
  - if @promotions.present?
    - @promotions.each do |p|
      .col-lg-12.hpanel-bos-promo
        .hpanel.hgreen
          .panel-body
            .btn-group.pull-right
              = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_business_promotion_path(p), class: 'btn btn-xs btn-default'
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i> View'.html_safe, business_promotion_path(p), class: 'btn btn-xs btn-default'
              / = link_to 'Delete', business_promotion_path(p), method: 'delete', data: {confirm: 'Are You Sure?'}, class: 'btn btn-xs btn-default'
            .row
              .col-sm-2
                .cover-image
                  = image_tag p.cover.url(:thumb)
              .col-sm-6
                %h4
                  = link_to "<i class='fa fa-flag-o'></i> #{p.title}".html_safe , ''
                %small 
                  #{p.status?} &nbsp;&nbsp; Kode: #{'#' + p.code} &nbsp;&nbsp; <i class="fa fa-clock-o"></i> #{time_to_ago(p.created_at)}
                %hr
                .row
                  .col-sm-3
                    .project-label <i class='pe-7s-like'></i> INDUSTRI
                    %small 
                      = p.industries.reject(&:empty?).join(', ')
                  .col-sm-3
                    .project-label <i class='pe-7s-map-marker'></i> KOTA
                    %small 
                      = p.cities.reject(&:empty?).join(', ')
                  .col-sm-3
                    .project-label <i class='pe-7s-graph1'></i> UMUR
                    %small #{p.min_age} - #{p.max_age} Thn
                  .col-sm-3
                    .project-label <i class='pe-7s-users'></i> JENIS KELAMIN
                    %small
                      = p.gender
              .col-sm-4.project-info
                .row.text-center
                  .col-xs-6
                    .project-value
                      %br
                      %h2.text-success
                        = get_currency(p.budget?)
                    .project-label SISA NOMINAL PROMOSI
                  .col-xs-6
                    .project-value
                      %br
                      %h2.text-success
                        = get_nominal(p.quota?)
                    .project-label SISA KUOTA BUZZERS

          .panel-footer
            <i class='pe-7s-alarm'></i> Masa Promosi : #{p.duration?}

    .col-lg-12
      = paginate @promotions
  - else
    .col-lg-12
      .panel
        .panel-body Tidak ada data yang ditemukan!
