- @package = params[:package].present? ? get_package_buzzers_value(params[:package]) : 500
.row{'ng-app' => "", 'ng-init' => "yourTitlePromo = 'Judul Promosi' ; yourContentPromo = '' ; yourUrlPromo = ['www.your-url.com/page'] ; yourHashtagPromo = ['#BrandCompanyHashtag'] ; yourMentionPromo = ['@myFriendName'] ; yourIndustriPromo = ['Semua Industri']; yourLocationPromo = ['Semua Kota'] ; yourStartPromo = '#{Time.zone.now.to_date}' ; yourEndPromo = '#{Time.zone.now.to_date}' ; yourGenderPromo = 'Semua Jenis Kelamin' ; yourBuzzersPromo = '#{@package}' ; yourAgePromo = '17 - 50' ; yourProvidersPromo = ['Facebook', 'Twitter']"}
  = form_for @promo, url: business_promotions_path, method: 'post' do |f|
    = render 'form', f: f