.row
  %h1{align: 'center'} Billings
  %br
  .col-md-3
    = form_for :search, url: '', method: 'get' do |f|
      .hpanel
        .panel-body
          .m-b-md
            %h4
              Pencarian
          .form-group
            %label.control-label Tanggal mulai:
            .input-group.date
              = text_field_tag :start_date, params[:start_date], class: 'form-control datepicker'
              %span.input-group-addon
                %i.glyphicon.glyphicon-calendar
          .form-group
            %label.control-label Sampai Tanggal:
            .input-group.date
              = text_field_tag :end_date, params[:end_date], class: 'form-control datepicker'
              %span.input-group-addon
                %i.glyphicon.glyphicon-calendar
          .form-group
            %label.control-label Status:
            .input-group
              - ['Sudah Dibayar', 'Pending'].each do |status|
                .checkbox.checkbox-primary
                  = check_box_tag 'statuses[]', status
                  %label #{status}

          .form-group
            %label.control-label Kata Kunci:
            .input-group
              = text_field_tag :keywords, params[:keywords], class: 'form-control', placeholder: 'keywords ...'
              .input-group-btn
                %button.btn.btn-default
                  %i.fa.fa-search

          = submit_tag 'SEARCH', class: 'btn btn-success btn-block'
  .col-md-9
    - if @billings.present?
      .row
        .col-lg-12
          - @billings.each do |resource|
            .hpanel.filter-item
              = link_to business_billing_path(resource) do
                .panel-body
                  .col-md-9
                    %h4.m-b-xs ##{resource.code}
                    %p.small #{resource.status_payment?} &nbsp; Invoice Untuk Promosi/Iklan <b>#{resource.title}</b>
                  .col-md-3
                    .pull-right.text-right
                      %h4{class: resource.status == Promotion::INACTIVE ? '' : 'text-success'} #{get_currency(resource.total)}
                      %small.stat-label <i class="fa fa-clock-o"></i> #{resource.created_at.strftime("%I:%M %p : %d/%b/%Y")}

        .col-lg-12
          = paginate @billings
    - else
      .panel
        .panel-body Tidak ada data yang ditemukan!