- resource = @billing
.hpanel.forum-box
  .panel-heading
    %span.pull-right
      %i.fa.fa-clock-o
      = resource.created_at.strftime("%I:%M %p : %d/%b/%Y")
    %span.f <i class="fa fa-flag" aria-hidden="true"></i> &nbsp; Invoice Untuk Promosi/Iklan <b>#{resource.title}</b>
  .panel-body
    .media
      .media-body
        .col-md-6
          .panel
            .panel-body
              %h4 Invoice Untuk:
              = resource.business.username.titleize
              %br
              = resource.business.email
              %br
              = resource.business.address.place_info
        .col-md-6
          .panel
            .panel-body
              %h4 Lakukan Pembayaran Ke:
              = 'Alam Topani Herdiansyah'
              %br
              = 'BANK BCA 23477273443'
              %br
              = 'An.Alam Herdian'
              %br
              = 'Jl.pelabuan 2 km.07 Lembursitu'
        .col-md-12
          %h3 
            INVOICE ##{resource.code} 
            .pull-right #{resource.status_payment?}
          = "Tanggal Invoice #{resource.created_at.strftime("%d/%b/%Y")}"
          %br
          %br
          %table.table.table-striped.table-bordered 
            %thead
              %tr 
                %td{width: '50%'}
                  %h4 DESKRIPSI
                %td.text-center
                  %h4 TAGIHAN
            %tbody
              %tr 
                %td 
                  Invoice Untuk Pembayaran Promosi/Iklan <b>#{resource.title}</b>
                  %br
                  %br
                  .row
                    .col-xs-6
                      Pengguna Sosial Media
                    .col-xs-6
                      #{resource.providers.reject(&:empty?).join(', ')}
                    .col-xs-6
                      Berdasarkan Industri
                    .col-xs-6
                      #{resource.industries.reject(&:empty?).join(', ')}
                    .col-xs-6
                      Berdasarkan Kota
                    .col-xs-6
                      #{resource.cities.reject(&:empty?).join(', ')}
                    .col-xs-6
                      Berdasarkan Jenis Kelamin
                    .col-xs-6
                      %b #{resource.gender}
                    .col-xs-6
                      Berdasarkan Umur
                    .col-xs-6
                      %b #{resource.range_age.split(',').join(' - ') } Thn
                    .col-xs-6
                      Jumlah Buzzers
                    .col-xs-6
                      %b #{resource.quota} Buzzers

                %td.text-center
                  %br
                  %br
                  %br
                  %b
                    = get_currency(resource.total)
              %tr 
                %td 
                  <h5 class='pull-right'>TOTAL TAGIHAN</h5>
                %td.text-center
                  %h5
                    = get_currency(resource.total)

