.row
  .col-lg-4
    .hpanel.hgreen
      .panel-body
        = image_tag current_user.avatar.url(:thumb), class: 'img-circle m-b m-t-md thumb'
        %h3
          = @account.username
        .text-muted.font-bold.m-b-xs 
          = @account.email
        %small
          = @account.try(:address).try(:place_info)
        %br
        %br
        .progress.m-t-xs.full.progress
          .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@account.get_progress_profile_business}", :role => "progressbar", :style => "width: #{@account.get_progress_profile_business}%"}
            %small #{@account.get_progress_profile_business}% Complete Profile
      .panel-body
        %small Nama merek/bisnis/perusahaan
        %h4
          = @account.business_info.name
        %small Website/Fanpage
        %h4
          = @account.business_info.website
        %small Bergerak di industri bisnis
        %h4
          = @account.business_info.get_industries
        %small Nama Owner
        %h4
          = @account.business_info.admin_name
        %small Kontak Owner
        %h4
          = @account.business_info.phone_admin
      .panel-footer.contact-footer
        .row
          .col-md-6.border-right
            .contact-stat
              %span Promosi/Iklan
              %strong #{@account.promotions.size}
          .col-md-6
            .contact-stat
              %span Vouchers
              %strong 0
  .col-lg-8
    .hpanel
      .panel-body
        %h2{align: 'center'} Pengaturan
        %br
        #wizardControl.text-center.m-b-md
          %ul.nav.nav-tabs{role: "tablist"}
            %li.active{role: "presentation"}
              %a.btn.btn-default{"data-toggle" => "tab", "aria-controls" => "step1", role: "tab", :href => "#step1"} Pengaturan Akun
            %li{role: "presentation"}
              %a.btn.btn-default{"data-toggle" => "tab", "aria-controls" => "step2", role: "tab", :href => "#step2"} Tentang Merek/Bisnis/Perusahaan
            %li{role: "presentation"}
              %a.btn.btn-default{"data-toggle" => "tab", "aria-controls" => "step3", role: "tab", :href => "#step3"} Pengaturan Alamat

        .tab-content
          #step1.p-m.tab-pane.active
            = form_for @account, url: business_account_path(@account), method: 'put' do |f|
              .row
                .col-lg-12
                  .row
                    .form-group.col-lg-12
                      .card-content
                        %center
                          .avatar-edit-account
                            = image_tag current_user.avatar.url(:thumb)
                            = f.file_field :avatar
                      %br
                      %br
                    .form-group.col-lg-6
                      %em * 
                      = f.label :username
                      = f.text_field :username, required: true, class: 'form-control'
                    .form-group.col-lg-6
                      %em * 
                      = f.label :email
                      = f.email_field :email, required: true, class: 'form-control'
                    .form-group.col-lg-6
                      = f.label 'Kata sandi baru'
                      = f.password_field :password, class: 'form-control'
                    .form-group.col-lg-6
                      = f.label 'Konfirmasi kata sandi'
                      = f.password_field :password_confirmation, class: 'form-control'
              %hr
              .text-right.m-t-xs
                = submit_tag 'SIMPAN', class: 'btn btn-success'

          #step2.p-m.tab-pane
            = form_for @account, url: business_account_path(@account), method: 'put' do |f|
              = f.fields_for :business_info do |p|
                .row
                  .col-lg-12
                    .row
                      .form-group.col-lg-6
                        %em * 
                        = p.label 'Nama merek/bisnis/perusahaan'
                        = p.text_field :name, required: true, class: 'form-control'
                      .form-group.col-lg-6
                        %em * 
                        = p.label 'URL website'
                        = p.text_field :website, required: true, class: 'form-control'
                      .form-group.col-lg-6
                        %em * 
                        = p.label 'Nama owner'
                        = p.text_field :admin_name, required: true, class: 'form-control'
                      .form-group.col-lg-6
                        %em * 
                        = p.label 'Kontak owner'
                        = p.text_field :phone_admin, required: true, class: 'form-control'
                      .form-group.col-lg-12
                        %em * 
                        = p.label 'Bergerak di industri bisnis'
                        = p.select :industries, get_industries, {prompt: 'Pilih Industri'}, required: true, class: 'form-control select2', multiple: true
                      .form-group.col-lg-12
                        %em * 
                        = p.label 'Deskripsi merek/bisnis/perusahaan'
                        = p.text_area :about, required: true, class: 'form-control', style: 'height:200px;'
                      .form-group.col-lg-12
                        %em * 
                        = p.label 'Mengetahui situs ini dari'
                        = p.select :from, get_we_are_from, {prompt: 'Mengetahui situs ini dari'}, required: true, class: 'form-control'
                %hr
                .text-right.m-t-xs
                  = submit_tag 'SIMPAN', class: 'btn btn-success'

          #step3.p-m.tab-pane
            = form_for @account, url: business_account_path(@account), method: 'put' do |f|
              = f.fields_for :address do |ad|
                .row
                  .col-lg-12
                    .row
                      .form-group.col-lg-6
                        %em * 
                        = ad.label 'Provinsi'
                        = ad.select :province, options_for_select(get_regions, ad.object.province), {prompt: 'Pilih Provinsi'}, 'data-node' => "business", required: true, class: 'form-control select-province select2'
                      .form-group.col-lg-6
                        %em * 
                        = ad.label 'Kota'
                        .city-container
                          = ad.select :city, options_for_select(get_city(ad.object.province), ad.object.city), {prompt: 'Pilih Kota'}, required: true, class: 'form-control select2'
                      .form-group.col-lg-12
                        %em * 
                        = ad.label 'Alamat Lengkap'
                        = ad.text_field :address, required: true, class: 'form-control'
                      .form-group.col-lg-12
                        = ad.hidden_field :country, value: 'Indonesia'
                        = ad.hidden_field :latitude, class: 'latitude'
                        = ad.hidden_field :longitude, class: 'longitude'
                        %input#pac-input.controls{placeholder: "Tentukan Lokasi Persis Anda", type: "text"}
                        #map
                        #infowindow-content
                          %span#place-name.title
                          %br
                          Place ID
                          %span#place-id
                          %br
                          %span#place-address

                %hr
                .text-right.m-t-xs
                  = submit_tag 'SIMPAN', class: 'btn btn-success'

= render 'business/shareds/js_set_geo_map'




