%input#promotion_id{ type: "hidden", value: resource.id }
%input#the_title{ type: "hidden", value: resource.title }
%input#the_link{ type: "hidden", value: resource.url.join('') + "?key=#{resource.campaign_encript(current_user)}" }
%input#the_message{ type: "hidden", value: resource.content_promo? }
%input#the_caption{ type: "hidden", value: 'by '+ current_user.username + ' in BuzzerCommunity'}
%input#the_description{ type: "hidden", value: resource.description }
%input#the_picture{ type: "hidden", value: 'http://localhost:3000' + resource.cover.url(:normal)}
%input#the_content{ type: "hidden", value: resource.content_promo?.first(100) + '...' }

/ = link_to '<i class="fa fa-instagram"></i> ENDORSE'.html_safe, '#', class: 'btn btn-lg btn-primary btn-int pull-right', 'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"#{get_min_friends('instagram')}"

- if current_user.present?
  - if resource.is_twitter_only?
    - if resource.already_share('twitter', current_user).blank?
      .btn.btn-lg.btn-tw.pull-right.btn-share-twitter{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"#{get_min_friends('twitter')}", onclick: "shareToTwitter()", style: resource.is_facebook_only? && resource.is_twitter_only? ? '' : 'width:100%'} 
        <i class="fa fa-twitter"></i> SHARE
    - else
      .btn.btn-lg.btn-tw.pull-right.btn-share-twitter{style: resource.is_facebook_only? && resource.is_twitter_only? ? '' : 'width:100%'}
        <i class="fa fa-twitter"></i> SUDAH DI SHARE

  - if resource.is_facebook_only?
    - if resource.already_share('facebook', current_user).blank?
      .btn.btn-lg.btn-fb.pull-right.btn-share-facebook{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"#{get_min_friends('facebook')}", onclick: "shareToFacebook()", style: resource.is_facebook_only? && resource.is_twitter_only? ? '' : 'width:100%'}
        <i class="fa fa-facebook"></i> SHARE
    - else
      .btn.btn-lg.btn-fb.pull-right.btn-share-facebook{style: resource.is_facebook_only? && resource.is_twitter_only? ? '' : 'width:100%'}
        <i class="fa fa-facebook"></i> SUDAH DI SHARE