/*=======================================
  Final Version Theme
  by Alam Topani (alamtopani@yahoo.com)
=======================================*/
$grey-font: cadetblue;
$grey-back:  #f5f5f5;
$blue-ocean: #0084bf;


/*=======================================
  Body Custom
=======================================*/
body{
  background: $grey-back;
  font-size: 14px;
  color: rgba(0,0,0,.7);;
}

.content{
  padding-top: 20px;
}

.container {
  width: 80%;
}

hr{
  border-color: #f5f5f5;
  border-bottom: 0;
  margin-top: 10px;
}

/*=======================================
  Nav Custom
=======================================*/
nav{
  a:hover{
    text-decoration: none
  }
  .brand-logo{
    padding-left: 10px!important;
    font-size: 1.8rem;
  }
}

.scroll-to-fixed-fixed{
  z-index: 2!important;
}

/*=======================================
  Position Custom
=======================================*/
.fixed{
  position: fixed;
}
.relative{
  position: relative;
}

/*=======================================
  Button Custom
=======================================*/
.btn-full{
  width: 100%;
}

/*=======================================
  Devise Custom
=======================================*/
.devise{
  padding-top: 40px;
  a{
    color: $grey-font;
  }
  .input-field{
    float: left;
    width: 100%;
  }
}

/*=======================================
  Alert Custom
=======================================*/
.section-alert{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 120px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding-top: 120px;
  .alert{
    width: 600px;
    z-index: 99;
    margin: auto;
    text-align: center;
    border-radius: 0;
    background: white;
    padding: 20px;
    border: solid 4px $grey-font;
  }
}
.alert{
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.alert-warning{
  color: red!important;
}
.alert-dismissable .close, .alert-dismissible .close {
  position: relative;
  top: -5px;
  right: 0;
  color: inherit;
}

/*=======================================
  Modal Custom
=======================================*/
.modal{
  z-index: 1;
  .modal-content{
    background: white;
  }
}

.field_with_errors{
  input, label{
    margin-left: 3rem;
    width: calc(100% - 3rem);
  }
  input{
    border-bottom: 1px solid red;
  }
  label{
    color: red;
    font-size: .8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
  }
}

/*=======================================
  Sidenav Custom
=======================================*/
.side-nav{
  z-index: 9999;
  .userView{
    .background{
      background: rebeccapurple;
    }
  }
}

/*=======================================
  Card Identity Custom
=======================================*/
.card{
  .avatar-edit-account{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border: solid 2px #ccc;
    position: relative;
    background: black;
    img{
      width: 100%;
    }
    input{
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .avatar-edit-account:hover{
    img{
      opacity: 0.5;
    }
  }
}
.card-identity{
  .btn-floating.halfway-fab{
    left: 0;
    right: 0;
    margin: auto;
    height: 70px;
    width: 70px;
  }
  .card-image{
    background: cadetblue;
    height: 100px;
  }
  p{
    color: $grey-font!important;
    font-size: 12px;
  }
  .card-content{
    padding: 10px;
    margin-top: 20px;
  }
  .number{
    color: $blue-ocean;
    font-size: 22px;
    font-weight: none;
  }
}
.card-panel{
  padding: 15px;
  .row{
    margin-bottom: 0;
  }
}

/*=======================================
  Form Custom
=======================================*/
input:not([type]), input[type=text], input[type=password], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea,
input:not([type]), input[type=text], input[type=password], input[type=date], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
{
  height: 50px!important;
} 

input:not([type]).invalid+label:after, input:not([type]):focus.invalid+label:after, input[type=text].invalid+label:after, input[type=text]:focus.invalid+label:after, input[type=password].invalid+label:after, input[type=password]:focus.invalid+label:after, input[type=email].invalid+label:after, input[type=email]:focus.invalid+label:after, input[type=url].invalid+label:after, input[type=url]:focus.invalid+label:after, input[type=time].invalid+label:after, input[type=time]:focus.invalid+label:after, input[type=date].invalid+label:after, input[type=date]:focus.invalid+label:after, input[type=datetime].invalid+label:after, input[type=datetime]:focus.invalid+label:after, input[type=datetime-local].invalid+label:after, input[type=datetime-local]:focus.invalid+label:after, input[type=tel].invalid+label:after, input[type=tel]:focus.invalid+label:after, input[type=number].invalid+label:after, input[type=number]:focus.invalid+label:after, input[type=search].invalid+label:after, input[type=search]:focus.invalid+label:after, textarea.materialize-textarea.invalid+label:after, textarea.materialize-textarea:focus.invalid+label:after,
input:not([type])+label:after, input[type=text]+label:after, input[type=password]+label:after, input[type=email]+label:after, input[type=url]+label:after, input[type=time]+label:after, input[type=date]+label:after, input[type=datetime]+label:after, input[type=datetime-local]+label:after, input[type=tel]+label:after, input[type=number]+label:after, input[type=search]+label:after, textarea.materialize-textarea+label:after
{
  margin-top: 5px;
  float: right;
  right: 0;
}

/*=======================================
  Map Custom
=======================================*/
#map {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border: solid 3px #f5f5f5;
}
.controls {
  background-color: #fff!important;
  border-radius: 2px!important;
  border: 1px solid transparent!important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)!important;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 17px;
  margin-top: 10px!important;
  outline: none!important;
  padding: 0 11px 0 13px!important;
  text-overflow: ellipsis;
  width: 100%!important;
  height: 29px!important;
}
.controls:focus {
  border-color: #4d90fe;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}



