.row
  - if @activities.present?
    .col-md-12
      %h1{align: 'center'} Beranda
      %br
      .masonry
        - @activities.each do |resource|
          - user = resource.user

          - if resource.activitiable_type == ActivitySnapshot::BUZZERSHARE
            - promo = resource.activitiable.promotion
            - share = resource.activitiable
            .hpanel.item.blog-box
              .panel-heading
                .media.clearfix
                  %a.pull-left
                    = image_tag user.avatar.url(:thumb)
                  .media-body
                    %small
                      %span.font-bold #{user.username.titleize}
                      membagikan promosi <b>#{promo.business.username.titleize}</b>
                    %br
                    %small.text-muted 
                      <i class="fa fa-#{share.provider}"></i> via <b>#{share.provider}</b>&nbsp;&nbsp;<i class="fa fa-clock-o"></i> #{time_to_ago(resource.created_at)}

              = link_to buzzer_job_show_path(promo) do
                .panel-image
                  = image_tag promo.cover.url(:normal)
                  .title
                    %h4 
                      = promo.title
                    %small
                      = promo.url.join('')
              .panel-body
                %b #{promo.hashtag.join(' ')}
                %br
                %b #{promo.mention.join(' ')}
                %br
                %p #{promo.content}
                - promo.industries.each do |i| 
                  <span class="label label-primary">#{i}</span>
              .panel-footer
                %span.pull-right
                  %i.fa.fa-users
                  #{promo.quota_share} Buzzers
                %i.pe-7s-share
                #{promo.buzzer_shares.successed.size} Shares
              / .panel-footer
              /   %span.pull-right
              /     %i.fa.fa-comments-o
              /     10 comments
              /   %i.fa.fa-eye
              /   62 views
              /   %hr
              /   .social-talk
              /     .media.social-profile.clearfix
              /       %a.pull-left
              /         = image_tag current_user.avatar.url(:thumb)
              /       .media-body
              /         %span.font-bold John Novak
              /         %small.text-muted 21.03.2015
              /         .social-content
              /           Injected humour, or randomised words which don't look even slightly believable.
              /   .social-form
              /     %input.form-control{:placeholder => "Your comment"}
    .col-md-12
      = paginate @activities
  - else
    .col-md-12
      .panel
        .panel-body Tidak ada data yang ditemukan!
