- resource = @promotion
- visit = resource.visitor_snapshot
.row
  .col-md-12
    %h1{align: 'center'} Iklan Promosi
    %br
    .hpanel.item.blog-box
      .row
        .col-md-8
          .panel-heading
            .media.clearfix
              %a.pull-left
                = image_tag resource.try(:business).try(:avatar).url
              .media-body
                %small
                  %span.font-bold #{resource.try(:business).try(:username).titleize}
                  membuat pekerjaan untuk Buzzers
                %br
                %small.text-muted <i class="fa fa-clock-o"></i> #{time_to_ago(resource.created_at)}

          = link_to buzzer_job_show_path(resource) do
            .panel-image.panel-image-show
              %label.label-success.reward <i class="pe-7s-server"></i> Rp.#{Rails.application.secrets.share_reward}
              = image_tag resource.cover.url(:normal)
              .title
                %h2
                  = resource.title
                %p
                  = resource.url.join('')
          .panel-body
            .btn.btn-default.pull-right <i class="fa fa-eye"></i> #{visit.impressionist_count(filter: :ip_address)} orang melihat ini
            .btn.btn-default.pull-right <i class="pe-7s-share"></i> #{resource.buzzer_shares.successed.size} share
            .btn.btn-default.pull-right <i class="fa fa-users"></i> #{resource.quota_share} kuota
            %b #{resource.hashtag.join(' ')}
            %br
            %b #{resource.mention.join(' ')}
            %br
            %p
              - resource.industries.each do |i| 
                <span class="label label-primary">#{i}</span>
            %p #{resource.content}
            %hr
            = render 'buzzer/shareds/jobs/share_button', resource: resource
            %h4 ULASAN
            %p #{resource.description.html_safe if resource.description.present?}

        .col-md-4
          #map{style: 'height: 342px;border:0;margin-bottom:0;'}
          .hpanel.hgreen
            .panel-body
              %h4 KETERANGAN
              %b Owner
              %br
              = resource.business.business_info.name
              %br
              %br
              %b Kontak
              %br
              <i class='fa fa-phone-square'></i> #{resource.phone}
              %br
              %br
              %b Facebook
              %br
              = link_to "<i class='fa fa-facebook-square'></i> #{resource.url_facebook}".html_safe, "#{resource.url_facebook}"
              %br
              %br
              %b Twitter
              %br
              = link_to "<i class='fa fa-twitter-square'></i> #{resource.url_twitter}".html_safe, "#{resource.url_twitter}"
              %br
              %br
              %b Instagram
              %br
              = link_to "<i class='fa fa-instagram'></i> #{resource.url_instagram}".html_safe, "#{resource.url_instagram}"
              %br
              %br

= render 'buzzer/shareds/js_map_promo'
