.row
  - if @promotions.present?
    .col-md-12
      %h1{align: 'center'} Pekerjaan Masuk
      %br
      .masonry
        - @promotions.each do |resource|
          .hpanel.item.blog-box
            .panel-heading
              .media.clearfix
                %a.pull-left
                  = image_tag resource.try(:business).try(:avatar).url(:thumb)
                .media-body
                  %small
                    %span.font-bold #{resource.try(:business).try(:username).titleize} 
                    membuat pekerjaan untuk Buzzers
                  %br
                  %small.text-muted <i class="fa fa-clock-o"></i> #{time_to_ago(resource.created_at)}
            = link_to buzzer_job_show_path(resource) do
              .panel-image
                - if resource.is_facebook_only? && resource.is_twitter_only?
                  - if resource.already_share('twitter', current_user).present? && resource.already_share('facebook', current_user).present?
                    .share{class: 'already_shared'} TELAH SHARE <br> KONTEN INI
                  - else
                    .share SHARE KONTEN <br> PROMOSI
                - elsif resource.is_facebook_only?
                  - if resource.already_share('facebook', current_user).present?
                    .share{class: 'already_shared'} TELAH SHARE <br> KONTEN INI
                  - else
                    .share SHARE KONTEN <br> PROMOSI
                - elsif resource.is_twitter_only?
                  - if resource.already_share('twitter', current_user).present?
                    .share{class: 'already_shared'} TELAH SHARE <br> KONTEN INI
                  - else
                    .share SHARE KONTEN <br> PROMOSI
                %label.label-success.reward <i class="pe-7s-server"></i> Rp.#{Rails.application.secrets.share_reward} 
                = image_tag resource.cover.url(:normal)
                .title
                  %h4
                    = resource.title
                  %small
                    = resource.url.join('')
            .panel-body
              %b #{resource.hashtag.join(' ')}
              %br
              %b #{resource.mention.join(' ')}
              %br
              %p #{resource.content}
              - resource.industries.each do |i| 
                <span class="label label-primary">#{i}</span>
            .panel-footer
              %span.pull-right
                %i.fa.fa-users
                #{resource.quota_share} Buzzers
              %i.pe-7s-share
              #{resource.buzzer_shares.successed.size} Shares
    
    .col-md-12
      = paginate @promotions
  - else
    .col-md-12
      .panel
        .panel-body Tidak ada data yang ditemukan!
