!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title SocialBuzzer
    = csrf_meta_tags
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all'
  %body
    = render 'shareds/layout/nav'
    = render 'shareds/layout/side_nav'
    .container.content
      = yield
  = javascript_include_tag 'application'
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"}
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrG1wZ-smqjoHJCX2V2RLRgwMEbZrXI8&libraries=places&callback=initMap"}
  %script{:src => "http://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
  %script{:src => "http://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}

