!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title SOCIALFEEDS.COM
    = csrf_meta_tags
    = stylesheet_link_tag 'dashboard', media: 'all'

  %body.fixed-navbar.fixed-sidebar
    = render 'layouts/dashboard/header'
    = render 'layouts/dashboard/side_menu'

    #wrapper
      .content.animate-panel
        .container
          = flash_messages
          = yield
      = render 'layouts/dashboard/right_sidebar'
      = render 'layouts/dashboard/footer'
      
    = javascript_include_tag 'dashboard'

    - if current_user.is_business? && params[:controller] == 'business/promotions' && params[:action] == 'show'
      = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
      = javascript_include_tag "https://www.google.com/jsapi"
      = render 'business/shareds/js_chart_analytic'
      = render 'business/shareds/js_map_chart_location'