!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title SocialBuzzer
    = csrf_meta_tags
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all'
  %body
    = render 'shareds/layout/nav'
    = render 'shareds/layout/side_nav'
    .container.devise
      .row
        .col.s6.offset-s3
          = flash_messages
          = devise_error_messages!
          = yield
  = javascript_include_tag 'application'
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"}
